@font-face {
    font-family: 'Roboto';
    src: url('Roboto_Slab/static/RobotoSlab-Medium.ttf') format("ttf");
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-image: url('batman_fond.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.link {
    font-size: 14px;
    color: #000000;
}

.trame, .batman, .slide {
    display: flex;
    background: linear-gradient(90deg, #aab7b9, #b9acaa);
    border-radius: 35px 20px 20px 11px;
    border: 6px outset #a7aab8;
    box-shadow: 6px 6px 0px rgba(0, 0, 0);
    width: 100%;
}

.slide a, .trame a, .batman a {
    text-decoration: none;
}
